canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
body {
    background-color:black;
    background-image: url(space.jpg);
  }
h1{
    text-align: center;
    color: white;
    font-size: 500%
}
h2{
    text-align: center;
    font-size: 300%;
    color: white;
}
h3{
    text-align: center;
    font-size: 150%;
    color: white;
}
h4{
    text-align: center;
    color: white;
}
.char{
    text-align: center;
    color: white;
    margin: 0 auto;
    display: block;
}
p.img{
    text-align: center;
}
.link-name {
    margin: 0px;
    padding: 5px;
    font-size: 48px;
}
